site_name: "sym_cps"
site_description: "Develop AI-based approaches to enable correct-by-construction design of Cyber Physical Systems"
site_url: "https://uc-berkeley-data-discovery-2022.github.io/berkeley-cps-symbiotic-design/"
repo_url: "https://github.com/uc-berkeley-data-discovery-2022/berkeley-cps-symbiotic-design.git"
repo_name: "uc-berkeley-data-discovery-2022/berkeley-cps-symbiotic-design"
site_dir: "site"
watch: [README.md, CONTRIBUTING.md, CHANGELOG.md, src/sym_cps, src/backend, src/frontend]

nav:
- Home:
  - Overview: index.md
  - Changelog: changelog.md
  - Credits: credits.md
  - License: license.md
# defer to gen-files + literate-nav
- Code Reference: reference/
- Development:
  - Contributing: contributing.md
  - Coverage report: coverage.md

theme:
  name: material
  features:
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  palette:
  - scheme: default
    primary: teal
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to light mode

extra_css:
- css/material.css
- css/mkdocstrings.css

markdown_extensions:
- admonition
- callouts
- pymdownx.emoji
- pymdownx.magiclink
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.tasklist
- toc:
    permalink: true

plugins:
- search
- markdown-exec
- gen-files:
    scripts:
    - docs/gen_ref_nav.py
- literate-nav:
    nav_file: SUMMARY.md
- coverage
- section-index
- mkdocstrings

extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/github_username
